<div class="row">
  <div class="col-md-12">
    <span class="alert alert-primary" *ngIf="message!=''">{{message}}</span>
    <span class="alert alert-primary" *ngIf="deductionmessage!=''">{{deductionmessage}}</span>
    <br/>
    <div class="employees" *ngIf="employeesList">
      <table class="table">
        <thead class="h">
        <tr class="h">
          <th class="h">Name</th>
          <th class="h">Designation</th>
          <th class="h">Base Salary</th>
          <th class="h">Tax Amount</th>
          <th class="h">Deduction Total</th>
          <th class="h">Take Home Salary</th>
          <th class="h">Options</th>
        </tr>
        </thead>
        <tbody *ngFor="let employee of employeesList;let i=index">
        <tr class="employee" (dblclick)="editEmployee(employee)" >

          <ng-container *ngIf="!editEmployees.includes(employee); else editTD">
            <td>{{employee.name}}</td>
            <td>{{employee.designation}}</td>
            <td>{{employee.basesalary}}</td>
            <td>{{employee.taxamount}}</td>
            <td>{{employee.deductiontotal}}</td>
            <td>{{employee.takehomesalary}}</td>
          </ng-container>


          <ng-template #editTD>
            <td><input type="text" name="name" id="name" (keypress)="submitEmployee($event, employee)"
                       [(ngModel)]="employee.name" placeholder="Name" class="form-control"></td>
            <td><input type="text" name="designation" id="designation" (keypress)="submitEmployee($event, employee)"
                       [(ngModel)]="employee.designation" placeholder="Designation" class="form-control"></td>
            <td><input type="text" name="basesalary" id="basesalary" (keypress)="submitEmployee($event, employee)"
                       [(ngModel)]="employee.basesalary" placeholder="Base Salary" class="form-control"></td>
            <td><input type="text" name="taxamount" id="taxamount" (keypress)="submitEmployee($event, employee)"
                       [(ngModel)]="employee.taxamount" placeholder="Tax Amount" class="form-control" readonly></td>
            <td><input type="text" name="deductions" id="deductions" (keypress)="submitEmployee($event, employee)"
                       [(ngModel)]="employee.deductiontotal" placeholder="Deduction Total" class="form-control" readonly></td>
            <td><input type="text" name="takehomesalary" id="takehomesalary"
                       (keypress)="submitEmployee($event, employee)" [(ngModel)]="employee.takehomesalary"
                       placeholder="Take Home Salary" class="form-control" readonly></td>
          </ng-template>

          <td class="o">
            <button class="btn btn-primary" (click)="hideme[i] = !hideme[i]">
              <i class="fa fa-plus"></i>
            </button>
            <button class="btn btn-primary" (click)="editEmployee(employee)">
              <i class="fa fa-pencil"></i>
            </button>
            <button class="btn btn-danger" (click)="deleteEmployee(employee)">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
        <td [hidden] ="!hideme[i]" colspan="6" align="center">
        <ng-container *ngFor="let d of employee.deductions" align="left">

        <tr>
          <td>{{d.deduction}}</td>
          <td>{{d.amount}}</td>
          <td>
            <button class="btn btn-danger" (click)="deleteDeduction(employee,d)">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
        </ng-container>

        <tr>
		<form #deductions="ngForm">
        <div class="form-row">

          <div class="col-md-1"></div>
          <div class="col-md-4">
            <input type="text" name="deduction" id="deduction" required pattern= "^[a-zA-Z0-9._-]+$" ng-pattern-restrict [(ngModel)]="newDeductions.deduction"
                   placeholder="Deductions" #deduction= "ngModel" class="form-control">
          </div>
          <div class="col-md-4">
            <input type="text" name="amount" id="amount" required pattern="^[0-9]{1,6}"  ng-pattern-restrict [(ngModel)]="newDeductions.amount" placeholder="Amount" #amount="ngModel" class="form-control">
          </div>
          <div class="col-md-2">
            <button type="submit" class="btn btn-primary" [disabled]="!deductions.form.valid" (click)="createDeductions(employee,newDeductions)">Add
            </button>
          </div>
          <div class="col-md-1"></div>


          <div class="col-md-1"></div>
          <div class="col-md-4">
            <div *ngIf="deduction.errors && (deduction.dirty || deduction.touched)" class="alert alert-danger">
              <div [hidden]="!deduction.errors.required" >
                Deduction Name is required!
              </div>
              <div [hidden]="!deduction.errors.ng-pattern" >
                Deduction Name can be only alphanumeric!
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div *ngIf="amount.errors && (amount.dirty || amount.touched)" class="alert alert-danger">
              <div [hidden]="!amount.errors.required" >
                Deduction Amount is required!
              </div>
              <div [hidden]="!amount.errors.ng-pattern" >
                Enter only digits for Deduction Amount!
              </div>
            </div>
          </div>
          <div class="col-md-3">

          </div>





        </div>
		</form>
        </tr>
    </td>
    </tbody>
    </table>
  </div>


  <form #employee="ngForm">
    <div class="form-row">

      <div class="col-md-3">
        <input type="text" name="ename" id="ename" required pattern="[a-zA-Z]+" ng-pattern-restrict [(ngModel)]="newEmployee.name" placeholder="Name" #ename="ngModel" class="form-control">
      </div>
      <div class="col-md-3">
        <input type="text" name="designation" id="designation" required [(ngModel)]="newEmployee.designation"
               placeholder="Designation" #designation="ngModel" class="form-control">
      </div>
      <div class="col-md-2">
        <input type="text" name="basesalary" id="basesalary" required pattern="^[0-9]{1,7}" ng-pattern-restrict [(ngModel)]="newEmployee.basesalary" placeholder="Base Salary" #basesalary="ngModel" class="form-control">
      </div>
      <div class="col-md-2">
        <button type="submit" class="btn btn-primary" [disabled]="!employee.form.valid" (click)="create()">Add</button>
      </div>
    </div>

    <div class="form-row">
    <div class="col-md-3">
      <div *ngIf="ename.errors && (ename.dirty || ename.touched)" class="alert alert-danger">
        <div [hidden]="!ename.errors.required" >
          Name is required!
        </div>
        <div [hidden]="!ename.errors.ng-pattern" >
          Enter only alphabets in Name !
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div *ngIf="designation.errors && (designation.dirty || designation.touched)" class="alert alert-danger">
        <div [hidden]="!designation.errors.required" >
          Designation is required!
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div *ngIf="basesalary.errors && (basesalary.dirty || basesalary.touched)" class="alert alert-danger">
        <div [hidden]="!basesalary.errors.required" >
          Base Salary is required!
        </div>
        <div [hidden]="!basesalary.errors.ng-pattern" >
          Enter only digits for Salary!
        </div>
      </div>
    </div>
    <div class="col-md-2">

    </div>
    </div>
  </form>


</div>

</div>

